*, *::before, *::after{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #7D7C7C;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: white ;
    min-height: 100vh;
}

.title{
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle{
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;;
}

.full-height-grow{
    display: flex;
    flex-direction: column;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;

}

.btn{
    color: white;
    background-color: #2861F5;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;

}

.btn:hover{
    background-color: #2180d8;
}

.btn:focus{
    background-color: #2796ff;
}

.input-group a{
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.input-group a:hover{
    color: #fcf9f9;
}